# LAB 02 Data Wrangling

STT: 11

Họ và tên: Nguyễn Mạnh Đức 

Lớp: DS105.N11.2

Buổi 02 - Bài 02

In [146]:
import pandas as pd
import numpy as np

# Câu 1

In [147]:
df = pd.read_csv('https://gitlab.com/uitgit/datasets/-/raw/master/auto_lab.csv')
df

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

# Câu 2

In [148]:
# Tạo header cho các cột
df.columns = ["symboling", 
"normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", 
"body-style", "drive-wheels", "engine-location", "wheel-base", "length", 
"width", "height", "curb-weight", "engine-type", "num-of-cylinders", "enginesize", "fuel-system", "bore", "stroke", "compression-ratio", "horsepower", 
"peak-rpm", "city-mpg", "highway-mpg", "price"]

df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [149]:
# Xuất 9 sample đầu tiên 
df.head(9)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,??,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
8,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [150]:
# Xuất 6 sample cuối cùng
df.tail(6)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
198,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,NaN,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [151]:
# In ra 8 samples ngẫu nhiên
df.sample(8)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
87,-1,137,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,110,spdi,3.17,3.46,7.5,116,5500,23,30,9279
28,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.6,3.9,7.0,145,5000,19,24,12964
120,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
73,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
107,0,161,peugot,diesel,turbo,four,sedan,rwd,front,107.9,...,152,idi,3.7,3.52,21.0,95,4150,28,33,13200
10,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16925
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
52,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695

# Câu 3

In [152]:
df = df.replace(to_replace = ["?","??","NaN", "", ".", "_", "Na", "NULL", "null", "not", "Not"], value=np.NaN)

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  162 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         198 non-null    object
 10  length             200 non-null    object
 11  width              203 non-null    object
 12  height             204 non-null    float64
 13  curb-weight        201 non-null    object
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  enginesize        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               200 non-null    object
 19  stroke             200 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              198 non-null    object
dtypes: float64(2), int64(4), object(20)
memory usage: 41.6+ KB

# Câu 4

In [154]:
for col in df.columns:
  if df[col].dtypes == np.int64:
    continue
  else:
    try:
      df[col] = df[col].astype(np.float64)
    except Exception:
      continue

# Câu 5

In [155]:
# Chuyển bộ dữ liệu sang mảng 2 chiều 
df_array = df.values
df_array

array([[3, nan, 'alfa-romero', ..., 21, 27, 16500.0],
       [1, nan, 'alfa-romero', ..., 19, 26, 16500.0],
       [2, 164.0, 'audi', ..., 24, 30, 13950.0],
       ...,
       [-1, 95.0, 'volvo', ..., 18, 23, 21485.0],
       [-1, 95.0, 'volvo', ..., 26, 27, 22470.0],
       [-1, 95.0, 'volvo', ..., 19, 25, 22625.0]], dtype=object)

# Câu 6

In [156]:
# Số lượng feature bị khuyết giá trị
df.isna().sum()

symboling             0
normalized-losses    42
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            6
length                4
width                 1
height                0
curb-weight           3
engine-type           0
num-of-cylinders      0
enginesize           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 6
dtype: int64

In [157]:
# Tổng số lượng giá trị bị khuyết
sum(df.isna().sum())

76

# Câu 7

In [158]:
# % bị khuyết trên tổng dữ liệu 
sum(df.isna().sum())*100/ (sum(df.isna().sum()) + sum(df.notna().sum()))

1.4328808446455505

In [159]:
# % Bị khuyết trên từng cột 
(df.isna().sum())*100/ ((df.isna().sum()) + (df.notna().sum()))

symboling             0.000000
normalized-losses    20.588235
make                  0.000000
fuel-type             0.000000
aspiration            0.000000
num-of-doors          0.980392
body-style            0.000000
drive-wheels          0.000000
engine-location       0.000000
wheel-base            2.941176
length                1.960784
width                 0.490196
height                0.000000
curb-weight           1.470588
engine-type           0.000000
num-of-cylinders      0.000000
enginesize           0.000000
fuel-system           0.000000
bore                  1.960784
stroke                1.960784
compression-ratio     0.000000
horsepower            0.980392
peak-rpm              0.980392
city-mpg              0.000000
highway-mpg           0.000000
price                 2.941176
dtype: float64

# Câu 8

In [160]:
import random 

# Điền khuyết cột normalized-losses 
df["normalized-losses"] = df["normalized-losses"].replace(to_replace = np.NaN, value= df['normalized-losses'].mean())

# Điền khuyết cột stroke 
df["stroke"] = df["stroke"].replace(to_replace = np.NaN, value= random.choice(np.array(df["stroke"])))

# Điền khuyết cột bore 
df["bore"] = df["bore"].replace(to_replace = np.NaN, value= df['bore'].mean())

# Điền khuyết cột horsepower 
df["horsepower"] = df["horsepower"].replace(to_replace = np.NaN, value= random.choice(np.array(df["horsepower"])))

# Điền khuyết cột peak-rpm 
df["peak-rpm"] = df["peak-rpm"].replace(to_replace = np.NaN, value= df['bore'].mean())

# Điền khuyết cột num-of-doors 
df["num-of-doors"] = df["num-of-doors"].replace(to_replace = np.NaN, value= pd.Series(df['num-of-doors'].value_counts()).sort_values(ascending=False).index[0])

In [161]:
df.to_csv('df_cau08.csv')

# Câu 9

In [162]:
from sklearn.impute import KNNImputer

In [163]:
X = df[['wheel-base', 'length', 'width', 'curb-weight', 'price']]

In [164]:
imputer = KNNImputer(n_neighbors = 2)

In [165]:
X1 = imputer.fit_transform(X)

In [166]:
data_new = pd.DataFrame(X1, columns = X.columns)

In [167]:
data_new.loc[X[X.isna().any(axis = 1 )].index, :]

     wheel-base  length  width  curb-weight    price
6        104.30  192.70  71.40       2954.0  18920.0
8         99.50  178.20  67.90       3053.0  15212.0
10       101.20  176.80  64.80       3209.5  16925.0
22        93.70  157.30  63.80       2128.0   8257.5
26        93.70  157.30  63.80       2001.0   8558.0
30        86.60  155.90  63.90       1819.0   6855.0
34        95.50  163.40  64.00       2010.0   7295.0
36        96.50  167.50  65.20       2236.0  22315.5
43        94.50  155.90  63.60       1874.0   7426.5
44        94.50  155.90  63.60       1909.0   7566.5
59        95.00  177.80  66.50       2410.0   8495.0
65       102.00  175.00  66.10       2700.0  18344.0
77        93.70  162.30  64.40       2004.0   6669.0
86        96.65  172.40  65.40       2403.0   9279.0
102      100.40  179.95  66.50       3060.0  13499.0
127       89.50  168.90  65.00       2182.0  37028.0
128       98.40  175.70  72.30       3366.0  26976.5
132       99.75  186.60  66.50       2695.0  12170.0
134       99.10  186.60  67.05       2758.0  15510.0
203      109.10  183.50  68.90       3062.0  22625.0

In [168]:
df[['wheel-base','length','width','curb-weight','price']] = data_new.copy()

In [169]:
df.to_csv('df_cau09.csv')

# Câu 10

In [170]:
# Dùng phương pháp loại bỏ (drop) cho các sample đối với các feature bị khuyết.
df.dropna()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,enginesize,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.006173,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.006173,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.000000,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.000000,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.006173,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95.000000,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
200,-1,122.006173,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
201,-1,95.000000,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
202,-1,95.000000,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
203,-1,95.000000,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [171]:
df.to_csv('df_cau10.csv')

# Câu 11

In [172]:
def check_NaN(df):
  return df.isnull().sum().sum() == 0

check_NaN(df)

True

# Câu 12

In [173]:
# Chuẩn hóa "length", "width" và "height" trong phạm vi [0,1]

df['length'] = (df['length'] - df['length'].min()) / (df['length'].max() - df['length'].min())

df['width'] = (df['width'] - df['width'].min()) / (df['width'].max() - df['width'].min())

df['height'] = (df['height'] - df['height'].min()) / (df['height'].max() - df['height'].min())

In [174]:
df.to_csv('df_cau12.csv')

# Câu 13

In [175]:
# Tạo các bin là ['Low', 'Medium', 'High'] cho “horsepower” và “price”

bins = np.linspace(min(df['horsepower']-1 ), max(df['horsepower']),4)

label = ['low','medium','high']

df['horsepower-bin'] = pd.cut(df['horsepower'], bins, labels = label, include_lowest = True)

bins = np.linspace(min(df['price']-1 ), max(df['price']),4)

label = ['low','medium','high']

df['price-bin'] = pd.cut(df['price'], bins, labels = label, include_lowest = True)

In [176]:
df.to_csv('df_cau13.csv')

# Câu 14